body {
    background-color: #F2F2F2;
    font-family: 'Computer Modern Serif', 'Noto Serif SC';
}

#parent {
    margin: auto;
    width: 90%;
    min-height: 600px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

#header {
    position: relative;
    left: "20%";
    font-family: 'Computer Modern Serif';
    font-size: 15px;
    color: black;
}

#links {
	list-style-type:none;
	list-style-image:none;
    position: relative;
    font-family: 'Computer Modern Serif';
    font-size: 15px;
    color: black;
}

.placeholder {
    clear:both;
    padding:20px;
    margin:0;
    font-size:0;
    line-height:0;
    height:0;
}

.largeplaceholder {
    clear:both;
    padding:200px;
    margin:0;
    font-size:0;
    line-height:0;
    height:0;
}

.catalogue {
    font-size:10px;
    text-align: center;
}

#atelier {
    position: relative;
    font-size: 10px;
    background-color: white;
    text-align: center;
}

#collection {
    position: relative;
    font-family: 'Computer Modern Serif', 'Noto Serif SC';
    font-size: 12px;
    background-color: white;
}

.fiction {
    position: relative;
    font-family: 'Computer Modern Serif', 'Noto Serif SC';
    font-size: 15px;
    background-color: white;
}

.poem {
    position: relative;
    font-family: 'Computer Modern Serif', 'Noto Serif SC';
    font-size: 15px;
    background-color: white;
}

#rightpoem {
    text-align: right;
    position: relative;
    font-family: 'Computer Modern Serif', 'Times New Roman', 'Microsoft Yahei', 'STXihei';
    right: 100px;
    font-size: 15px;
}

#copyright {
    position: relative;
    font-family: 'Computer Modern Serif';
    font-size: 10px;
}

.column {
    float: left;
    font-family: 'Computer Modern Serif', 'Noto Serif SC';
    width: 35%;
    padding: 5%;
}
  
.row::after {
    content: "";
    font-family: 'Computer Modern Serif', 'Noto Serif SC';
    clear: both;
    display: table;
  }

.labelClass, p {
    font-family: 'Computer Modern Serif', 'Noto Serif SC';
    color: black;
}

.emphasized {
    font-style: italic;
}

.labelClass, a {
    font-family: 'Computer Modern Serif', 'Noto Serif SC';
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}